.swiper-pagination {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    .swiper-pagination-bullet {
      width: 16px;
      height: 16px;
      background-color:#717fe0;
      margin-left: 6px;
      margin-right: 6px;
      &:focus {
        outline: none;
      }
      @media (max-width: 767px) {
        margin-left: 4px;
        margin-right: 4px;
      }
    }
  }